@charset "UTF-8";
body {
    margin: 0;
    padding-bottom: 80px;
}

.rk-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: .25rem;
    padding-right: .25rem;
}

@media (min-width: 40em) {
    .rk-container {
        max-width: 88.88889em;
        width: 95vw;
    }

    .rk-container--inner {
        max-width: 68.88889em;
        width: 82vw;
    }
}

.rk-container--full {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

@media (min-width: 64em) {
    .rk-container {
        padding-left: 0;
        padding-right: 0;
    }
}

.rk-main {
    z-index: 1;
    position: static;
}

.top-fixed .rk-main {
    padding-top: 14rem;
}

@media (min-width: 64em) {
    .rk-main {
        position: relative;
    }
}

.rk-header {
    background-color: #fff;
    position: relative;
    z-index: 5;
}

.top-fixed .rk-header {
    position: fixed;
}

.rk-topbar {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 3.3rem;
    padding-top: 2.8rem;
}

@media (min-width: 64em) {
    .rk-topbar {
        padding-bottom: 0;
    }
}

.rk-logo {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    font-size: 1.375rem;
    font-weight: 700;
    letter-spacing: 2.25px;
    text-align: center;
    text-transform: uppercase;
    width: 20%;
    margin-top: 40px;
}

@media (min-width: 64em) {
    .rk-logo {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: left;
        margin: 54px 130px;
    }
}

.rk-navmobile {
    position: relative;
}

.rk-mobile-menu {
    display: none;
}

.rk-mobile-menu + label {
    cursor: pointer;
    display: inline-block;
    height: 24px;
    left: 2.5vw;
    position: absolute;
    top: 1.7rem;
    width: 16px;
    z-index: 300;
}

.rk-mobile-menu + label svg {
    height: 4px;
    width: 20px;
    margin: 0;
    display: block;
    margin-bottom: 3px;
    -webkit-transition: .3s;
    transition: .3s;
}

.rk-mobile-menu + label svg:nth-of-type(1) {
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left;
}

.rk-mobile-menu + label svg:nth-of-type(3) {
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left;
}

@media (min-width: 64em) {
    .rk-mobile-menu + label {
        display: none;
    }
}

.rk-mobile-menu:checked + label,
.rk-mobile-menu + label:hover {
    color: #a0a0a0;
}

.rk-mobile-menu:checked + label svg:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rk-mobile-menu:checked + label svg:nth-of-type(2) {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
}

.rk-mobile-menu:checked + label svg:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.rk-footer {
    margin-top: 10.5rem;
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    height: 100px;
    z-index: 9999;
}

.rk-footer__contact {
    display: inline-block;
    letter-spacing: .6px;
}

.rk-footer__by {
    letter-spacing: .7px;
}

.rk-social-btn {
    background: none;
    border: 0;
    display: inline-block;
    height: 20px;
    margin-top: 50px;
    margin-right: 1rem;
    width: 20px;
}

.rk-social-btn:first-child {
    margin-left: 0;
}

.rk-social-btn:last-child {
    margin-right: 0;
}

.rk-social-btn svg {
    height: 100%;
    width: 100%;
}

.rk-portfolio__items {
    margin-top: -4px;
}

@media (min-width: 40em) {
    .rk-portfolio__items {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -4px;
        margin-right: -4px;
    }
}

.rk-item {
    display: block;
    margin: 0;
    margin-bottom: .5rem;
    position: relative;
}

.rk-item.ae-masonry__item {
    display: inline-block;
    margin-bottom: 0;
}

.rk-item img {
    display: block;
    width: 100%;
}

.rk-item:hover .item-meta {
    opacity: 1;
    visibility: visible;
}

.rk-item--flex {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: white;
    border-width: 4px;
    border-style: solid;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 0;
    overflow: hidden;
}

.rk-item--flex:after {
    display: none;
}

.rk-item--flex:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.rk-item--flex:hover {
    background-color: #000;
    background-blend-mode: luminosity;
}

/*text*/

.item-meta {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .75);
    bottom: 0;
    color: #202020;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: .67rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    margin: auto;
    opacity: 0;
    padding: 2%;
    position: absolute;
    right: 0;
    text-align: center;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    top: 0;
}

.item-meta h2 {
    font-size: 2.25em;
    font-weight: 700;
}

.item-meta p {
    font-size: 1.5em;
    margin-bottom: 0;
}

@media (min-width: 64em) {
    .item-meta {
        font-size: 1vw;
    }
}

@media (min-width: 94.75em) {
    .item-meta {
        font-size: 1rem;
    }
}

@media (min-width: 40em) {
    .rk-size-12 .item-meta h2,
    .fz-12 .item-meta2 h2 {
        font-size: 2.25em;
    }

    .rk-size-12 .item-meta p,
    .fz-12 .item-meta2 p {
        font-size: 1.5em;
    }

    .rk-size-8 .item-meta h2,
    .fz-8 .item-meta h2 {
        font-size: 2em;
    }

    .rk-size-8 .item-meta p,
    .fz-8 .item-meta p {
        font-size: 1.5em;
    }

    .rk-size-6 .item-meta h2,
    .fz-6 .item-meta h2 {
        font-size: 1.75em;
    }

    .rk-size-6 .item-meta p,
    .fz-6 .item-meta p {
        font-size: 1.3125em;
    }

    .rk-size-4 .item-meta h2,
    .fz-4 .item-meta h2 {
        font-size: 1.5em;
    }

    .rk-size-4 .item-meta p,
    .fz-4 .item-meta p {
        font-size: 1.125em;
    }

    .rk-size-3 .item-meta h2,
    .fz-3 .item-meta h2 {
        font-size: 1.3125em;
    }

    .rk-size-3 .item-meta p,
    .fz-3 .item-meta p {
        font-size: 1.125em;
    }

    #layout-grid:checked ~ .rk-portfolio .rk-tosize-12 .item-meta h2 {
        font-size: 2.25em;
    }

    #layout-grid:checked ~ .rk-portfolio .rk-tosize-12 .item-meta p {
        font-size: 1.5em;
    }

    #layout-grid:checked ~ .rk-portfolio .rk-tosize-6 .item-meta h2 {
        font-size: 1.75em;
    }

    #layout-grid:checked ~ .rk-portfolio .rk-tosize-6 .item-meta p {
        font-size: 1.3125em;
    }

    #layout-grid:checked ~ .rk-portfolio .rk-tosize-4 .item-meta h2,
    #layout-grid:checked ~ .rk-portfolio .rk-tosize-8 .rk-tosize-6 .item-meta h2 {
        font-size: 1.5em;
    }

    #layout-grid:checked ~ .rk-portfolio .rk-tosize-4 .item-meta p,
    #layout-grid:checked ~ .rk-portfolio .rk-tosize-8 .rk-tosize-6 .item-meta p {
        font-size: 1.125em;
    }

    #layout-grid:checked ~ .rk-portfolio .rk-tosize-3 .item-meta h2,
    #layout-grid:checked ~ .rk-portfolio .rk-tosize-6 .rk-tosize-6 .item-meta h2 {
        font-size: 1.3125em;
    }

    #layout-grid:checked ~ .rk-portfolio .rk-tosize-3 .item-meta p,
    #layout-grid:checked ~ .rk-portfolio .rk-tosize-6 .rk-tosize-6 .item-meta p {
        font-size: 1.125em;
    }
}

.ae-masonry .item-meta h2 {
    font-size: 2.25em;
}

.ae-masonry .item-meta p {
    font-size: 1.5em;
}

.arrow-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: none;
    border: 0;
    cursor: pointer;
    font-size: inherit;
    font-weight: 700;
    letter-spacing: .02em;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.arrow-button svg,
.arrow-button .arrow-cont-rev,
.arrow-button .arrow-cont {
    height: 2em;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    width: 2em;
}

.arrow-button .arrow-cont-rev
.arrow-cont {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    vertical-align: super;
}

.arrow-button .arrow-cont {
    margin-left: 2em;
}

.arrow-button .arrow-cont svg {
    margin-left: 0;
}

.arrow-button .arrow-cont-rev {
    margin-right: 2em;
}

.arrow-button .arrow-cont-rev svg {
    margin-left: 0;
}

.arrow-button--right {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 75em) {
    .arrow-button--right {
        margin-left: auto;
        margin-right: 0;
    }
}

.arrow-button--center {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 75em) {
    .arrow-button--out {
        margin-right: -4.5em;
    }
}

.arrow-button .arrow-cont-rev {
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.arrow-button--reverse div {
    margin-left: 0;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}

.arrow-button:hover .arrow-cont {
    -webkit-transform: translateX(.25rem);
    -ms-transform: translateX(.25rem);
    transform: translateX(.25rem);
}

.arrow-button--reverse:hover .arrow-cont-rev {
    -webkit-transform: scale(-1, 1) translateX(.25rem);
    -ms-transform: scale(-1, 1) translateX(.25rem);
    transform: scale(-1, 1) translateX(.25rem);
}

.arrow-button--reverse:hover .arrow-cont-rev svg {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.arrow-button--compress svg {
    margin-left: 1em;
}

.arrow-button--nospace svg {
    margin-left: 0;
}

.arrow-button--flip svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.group-buttons {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
}

@media (min-width: 40em) {
    .group-buttons {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.rk-arrow svg {
    height: .875em;
    width: 2.375em;
}

.conatct__title,
.contact__addr,
.contact__email {
    letter-spacing: .06em;
}

.contact__desc {
    letter-spacing: .05em;
}

.contact__phone {
    letter-spacing: .1em;
}

.contact_spacer {
    width: 100%;
}

.contact_spacer:before {
    content: "";
    display: block;
    padding-top: calc(134.74026% - 20.35rem);
}

.rk-navigation {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    display: none;
}

@media (min-width: 64em) {
    .rk-navigation {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-right: 174px;
    }
}

.rk-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: .5px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: .16rem;
}

.rk-menu__item {
    color: #202020;
    display: inherit;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.rk-menu__item:first-child {
    padding-left: 0;
}

.rk-menu__item:last-child {
    padding-right: 0;
}

.rk-menu__item.active {
    color: #a0a0a0;
}

.rk-menu__link {
    padding-bottom: 4.2rem;
}

.rk-menu__sub {
    background-color: white;
    left: 0;
    list-style: none;
    margin: 0 -174px;
    padding: 0;
    -webkit-transform: translateY(-1em);
    -ms-transform: translateY(-1em);
    transform: translateY(-1em);
    opacity: 0;
    top: 50%;
    -webkit-transition: .3s;
    transition: .3s;
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 70px;
}

.rk-menu__sub ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1.375rem .5rem;
    max-width: 101rem;
}

.rk-menu__item:hover > .rk-menu__sub {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    z-index: 2;
}

@media (max-width: 64em) {
    #mobile-menu:checked ~ .rk-topbar .rk-navigation {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, .95);
        overflow: auto;
    }

    #mobile-menu:checked ~ .rk-topbar .rk-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        font-size: 1.25rem;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 85%;
    }

    #mobile-menu:checked ~ .rk-topbar .rk-menu__item {
        padding-left: 0;
        padding-right: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #mobile-menu:checked ~ .rk-topbar .rk-menu__link {
        padding-bottom: 1rem;
    }

    #mobile-menu:checked ~ .rk-topbar .rk-menu__sub {
        background-color: transparent;
        margin-top: -.5rem;
        opacity: 1;
        padding-bottom: 10.75rem;
        position: relative;
        top: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
        text-align: center;
    }

    #mobile-menu:checked ~ .rk-topbar .rk-menu__sub ul {
        padding: 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    #mobile-menu:checked ~ .rk-topbar .rk-menu__sub li {
        padding: 0 .5rem;
    }

    #mobile-menu:checked ~ .rk-topbar .rk-menu__sub a {
        padding-bottom: .5rem;
    }

    #mobile-menu:checked ~ .rk-topbar .rk-search {
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        margin: 0;
        width: 85%;
    }

    #mobile-menu:checked ~ .rk-topbar .rk-search label {
        display: none;
    }

    #mobile-menu:checked ~ .rk-topbar .rk-search-field {
        opacity: 1;
        padding: 1rem;
        text-align: center;
        width: 100%;
    }
}

.rk-footer-menu {
    display: inline-block;
    margin-bottom: 1rem;
}

.rk-footer-menu .rk-menu__link {
    padding-bottom: 0;
}

.slider-wrap {
    position: relative;
}

.rk-footer__text span {
    font-size: .875rem;
}

.rk-footer__copy {
    letter-spacing: .4px;
}

.rk-footer__copy span {
    letter-spacing: 1.2px;
}

@media screen and (min-width: 1024px) {
    .arrow-button--out {
        margin-right: 0;
    }

    .rk-dark-color {
        color: #202020;
    }

    .rk-light-color {
        color: #787878;
    }

    .rk-logo {
        z-index: 9999;
    }

    .any-class ul li img {
        width: 150px;
        height: 118px;
        margin: 0 5px 0 5px;
    }

    .rk-portfolio {
        margin-top: -100px;
    }

    .any-class ul {
        top: 10px;
    }

    .slider-wrap {
        width: 580px;
        left: 30px;
    }

    .next {
        position: absolute;
        top: 50px;
        right: 0;
    }

    .prev {
        position: absolute;
        top: 50px;
        left: 25px;
    }

    .replace-image {
        width: 80%;
        height: 60%;
        margin: 40px auto;
    }

    .gallery-text {
        text-align: center;
    }

    .description {
        border-top: 2px solid #202020;
    }

    .replace-image img {
        height: 100%;
        width: 100%;
    }

    .arrow-cont {
        margin-right: 10px;
    }

    .av-logo {
        width: 120px;
        z-index: 9999;
        margin-top: -10px;
    }

    .alex-img {
        margin-top: 150px;
        width: 500px;
        height: 500px;
    }

    .contact-form {
        position: relative;
        top: -420px;
    }

    .countries {
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: relative;
        bottom: 420px;
    }

    .contact-text {
        text-align: justify;
    }

    .rk-footer {
        height: 50px;
    }

    .rk-footer__text {
        color: #787878;
        float: right;
        margin: 10px 328px 0 0;
    }

    .social-icons {
        float: left;
        margin: -38px 0 0 328px
    }
}

@media (min-width: 349px) and (max-width: 1023px) {
    body {
        padding-bottom: 80px;
        font-size: 14px;
    }

    .arrow-button--out {
        margin-top: -40px;
    }

    .any-class {
        width: 320px !important;
        left: 0 !important;
        margin: 0 auto !important;
    }

    .any-class ul li img {
        width: 150px;
        height: 118px;
        margin: 0 5px 0 5px;
    }

    .next {
        position: absolute;
        top: 50px;
        right: -10px;
    }

    .prev {
        position: absolute;
        top: 50px;
        left: -10px;
    }

    .description {
        border-top: none;
    }

    table {
        width: 100%;
        border: none;
    }

    thead {
        display: none;
    }

    tr:nth-of-type(2n) {
        background-color: inherit;
    }

    tbody td {
        display: block;
        text-align: center;
    }

    tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: block;
        text-align: center;
    }

    header {
        height: 100px;
    }

    .back-button {
        position: relative;
        top: -20px;
        right: 20px;
    }

    .av-logo {
        width: 80px;
        margin: -10px auto -20px auto;
    }

    .rk-footer {
        height: 50px;
        width: 100%;
    }

    .rk-social-btn {
        margin-top: 0;
    }

    .countries {
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        height: 100px;
        position: relative;
        margin: 0 10px 0 10px;
    }

    .contact-text, .contact__desc {
        margin: 0 10px 0 10px;
    }

    .conatct__title {
        margin-top: 30px;
        text-align: center;
    }

    .rk-logo {
        display: none;
    }

    .rk-portfolio {
        margin-top: -110px;
    }

    .social-icons {
        float: left;
        margin: 15px 0 0 10px;
    }

    .rk-footer__text {
        color: #787878;
        float: right;
        margin: 17px 10px 0 0;
    }

    .rk-navigation {
        font-size: 14px;
    }
}

@media screen and (min-width: 602px) {
    .av-logo {
        margin: -10px 0 0 82px;
    }

}

#contact-photo {
    margin-left: 15px;
}